//- views/index.pug
extends layout

block pageTitle
  | Willkommen bei Kafi AG

block headerLeft 
  label Guthaben:
  span#pay-inserted= `${(status.payment.inserted||0).toFixed(2)} ${status.currency}`

block headerRight
  a.btn.small(href="/superuser") SuperUser

block content

  // WARNUNG UNTER DEM HEADER
  if status.lowStock && status.lowStock.length
    .alert-full
      | Achtung: Mindestbestand unterschritten – 
      = status.lowStock.map(item => item.name).join(", ")

  else if status.descaleWarning
    .alert-full
      | Entkalkung fällig in #{status.descaleIn} Zubereitungen

  // KACHELN
  main.main.full
    .drinks
      each d in drinks
        if d.active
          a.card.drink(
            href=`/pay/${d.id}`
            class=(!d.available ? 'disabled' : '')
            data-id=d.id
          )
            .title #{d.name}
            .price 
              | #{d.price.toFixed(2)} #{status.currency}
              if d.maxPriceMod > 0 && d.recipe.coffee > 0
                br
                span(style="font-size:.85rem; opacity:.75")
                  | + max. #{d.maxPriceMod.toFixed(2)} #{status.currency}

            if !d.available
              .note Zutat leer

              