//- views/sim.pug
extends layout

block pageTitle 
  | Simulation

block headerRight
  a.btn.small(href="/") Zurück

block content
  .admin
    .grid
      .card
        form(method="post" action="/superuser/sim")
          h4 System & Sensoren

          .row
            label Tasse erkannt
            label
              input(type="checkbox" name="cupPresent" checked=machine.cupPresent)
              | Ja

          h4 Zahlung

          .row
            label Betrag aufaddieren
            input(type="number" name="insertAdd" step="0.1" min="0")

          .row
            label Betrag setzen
            input(type="number" name="insertSet" step="0.1" min="0")

          .row
            label Payment zurücksetzen
            label
              input(type="checkbox" name="resetPayment")
              | Ja

          .row(style="justify-content: flex-end; grid-template-columns: auto;")
            button.btn(type="submit") Anwenden

      .card
        form(method="post" action="/superuser/sim")
          h4 Zutaten

          .row
            label Milch (g)
            input(type="number" name="milk" min="0" value=machine.ingredients.milk)

          .row
            label Kaffee (g)
            input(type="number" name="coffee" min="0" value=machine.ingredients.coffee)

          .row
            label Schokolade (g)
            input(type="number" name="chocolate" min="0" value=machine.ingredients.chocolate)

          h4 Entkalkung
          .row
            label Entkalkung in
            input(type="number" name="descaleIn" min="0" value=machine.descaleIn)

          .row(style="justify-content: flex-end; grid-template-columns: auto;")
            button.btn(type="submit") Anwenden
