//- views/sim.pug
extends layout

block pageTitle 
  | Simulation

block headerRight


block content
  .admin
    .grid
      .card
        form(method="post" action="/superuser/sim")
          h3 System & Sensoren
          .row
            label Tasse erkannt
            .switch-wrapper
              label.switch
                input(type="checkbox" name="cupPresent" checked=machine.cupPresent)
                span.slider

          h4 Zahlung
          .row
            label Betrag aufaddieren
            input(type="number" name="insertAdd" step="0.1" min="0")

          .row
            label Betrag setzen
            input(type="number" name="insertSet" step="0.1" min="0")

          .row
            label Payment zurücksetzen
            .switch-wrapper
              label.switch
                input(type="checkbox" name="resetPayment")
                span.slider

          .row(style="justify-content: flex-end; grid-template-columns: auto;")
            button.btn(type="submit") Anwenden

      .card
        form(method="post" action="/superuser/sim")
          h3 Zutaten

          .row
            label Milch (g)
            input(type="number" name="milk" min="0" value=machine.ingredients.milk)

          .row
            label Kaffee 1 (g)
            input(type="number" name="coffee1" min="0" value=machine.ingredients.coffee1)

          .row
            label Kaffee 2 (g)
            input(type="number" name="coffee2" min="0" value=machine.ingredients.coffee2)

          .row
            label Schokolade (g)
            input(type="number" name="chocolate" min="0" value=machine.ingredients.chocolate)

          h4 Entkalkung
          .row
            label Entkalkung in
            input(type="number" name="descaleIn" min="0" value=machine.descaleIn)

          .row(style="justify-content: flex-end; grid-template-columns: auto;")
            button.btn(type="submit") Anwenden

    .grid
      .card
        h3 Zusätzliche Module

        form(method="post" action="/superuser/sim")
          // markiert dieses POST eindeutig als Modul-Form
          input(type="hidden" name="modulesForm" value="1")

          .row
            label Kakao aktiv
            .switch-wrapper
              label.switch
                input(type="checkbox" name="mod_chocolate" checked=machine.modules && machine.modules.chocolate)
                span.slider

          .row
            label Zweite Kaffeesorte aktiv
            .switch-wrapper
              label.switch
                input(type="checkbox" name="mod_secondCoffee" checked=machine.modules && machine.modules.secondCoffee)
                span.slider

          .row
            label Währung
            select(name="currency")
              option(value="CHF" selected=(currency==="CHF")) CHF
              option(value="EUR" selected=(currency==="EUR")) EUR
              option(value="USD" selected=(currency==="USD")) USD


          .row(style="justify-content:flex-end; grid-template-columns:auto")
            button.btn(type="submit") Speichern

