//- views/superuser.pug
extends layout

block pageTitle 
  | Einstellungen und Verwaltung
block headerRight
  a.btn.small(href="/") Zurück

block content
  .admin
    // ------------------ Getränke bearbeiten ------------------
    .grid
      .card
        h3 Getränke bearbeiten

        form(method="post" action="/superuser/drinks")
          .drink-grid
            each d in drinks
              .drink-block
                h4= d.name

                .row
                  label Aktiv
                  .switch-wrapper
                    label.switch
                      input(type="checkbox" name=`drinks[${d.id}][active]` checked=d.active)
                      span.slider

                .row
                  label Preis
                  input(type="number" name=`drinks[${d.id}][price]` step="0.1" min="0" value=d.price)

                if d.recipe.coffee > 0
                  .row
                    label Bohnen (g)
                    input(type="number" name=`drinks[${d.id}][coffee]` min="0" max="100" value=d.recipe.coffee)

                  .row
                    label Mahlgrad
                    input(type="number" name=`drinks[${d.id}][mahlgrad]` min="1" max="10" value=(d.config && d.config.mahlgrad) || 0)

                if d.recipe.milk > 0
                  .row
                    label Milch (g)
                    input(type="number" name=`drinks[${d.id}][milk]` min="0"  max="200" value=d.recipe.milk)

                if d.recipe.chocolate > 0
                  .row
                    label Schokolade (g)
                    input(type="number" name=`drinks[${d.id}][chocolate]` min="0"  max="100" value=d.recipe.chocolate)

                .row
                  label Wasser (ml)
                  input(type="number" name=`drinks[${d.id}][water]` min="0"  max="300" value=(d.config && d.config.water) || 0)

          .row(style="justify-content:flex-end; grid-template-columns:auto")
            button.btn(type="submit") Speichern

    // ------------------ Maschinenstatus ------------------
    .grid
      .card
        h3 Maschinenstatus

        if machine.modules && machine.modules.secondCoffee

          form#modForm(method="post" action="/superuser/modules")
            input(type="hidden" name="modulesForm" value="1")

            // KAFFEE 1
            .row
              label Kaffee 1 (g)
              span #{machine.ingredients.coffee1} / #{machine.max.coffee1}

            .row
              label Bezeichnung Kaffeesorte 1
              input(
                type="text"
                name="beans[name][]"
                value=machine.modules.beans[0].name
                placeholder="z. B. 'Arabica Mild'"
              )


            // KAFFEE 2
            .row
              label Kaffee 2 (g)
              span #{machine.ingredients.coffee2} / #{machine.max.coffee2}

            .row
              label Bezeichnung Kaffeesorte 2
              input(
                type="text"
                name="beans[name][]"
                value=machine.modules.beans[1].name
                placeholder="z. B. 'Robusta Intensiv'"
              )

            .row
              label Preisaufschlag Kaffeesorte 2
              input(
                type="number"
                step="0.01"
                min="0"
                name="beans[priceMod][]"
                value=machine.modules.beans[1].priceMod.toFixed(2)
                placeholder="z. B. 0.20"
                class="fmt-money"
              )

            // >>> WICHTIG: Aktuelle Modulzustände mitsenden
            input(type="hidden" name="mod_chocolate" value=(machine.modules && machine.modules.chocolate) ? 'on' : '')
            input(type="hidden" name="mod_secondCoffee" value=(machine.modules && machine.modules.secondCoffee) ? 'on' : '')

            .row(style="justify-content:flex-end; grid-template-columns:auto")
              button.btn.small(type="submit") Speichern

        else
          .row
            label Kaffee (g)
            span #{machine.ingredients.coffee1} / #{machine.max.coffee1}

        // MILCH
        .row
          label Milch (g)
          span #{machine.ingredients.milk} / #{machine.max.milk}

        // KAKAO – nur wenn Modul aktiv
        if machine.modules && machine.modules.chocolate
          .row
            label Kakao (g)
            span #{machine.ingredients.chocolate} / #{machine.max.chocolate}

        // ENTKALKUNG + BUTTON
        .row
          label Entkalkung in
          span #{machine.descaleIn} Zubereitungen

        .row(style="justify-content:flex-end; grid-template-columns:auto")
          form(method="post" action="/superuser/reset-descale")
            button.btn.small(type="submit") Entkalkung zurücksetzen

    // ------------------ Einstellungen ------------------
    .grid
      .card
        h3 Einstellungen

        form(method="post" action="/superuser/settings")

          .row
            label Mindeststand Milch (g)
            input(type="number" name="minMilk" min="0" value=machine.minLevels.milk)

          .row
            label Mindeststand Kaffee (g)
            input(type="number" name="minCoffee" min="0" value=machine.minLevels.coffee)

          if machine.modules && machine.modules.chocolate
            .row
              label Mindeststand Schokolade (g)
              input(type="number" name="minChocolate" min="0" value=machine.minLevels.chocolate)

          .row
            label Entkalkungswarnung ab (Zubereitungen)
            input(type="number" name="descaleWarning" min="1" value=machine.descaleWarning)

          .row
            label Screensaver Timeout (Min)
            input(type="number", name="timeoutMin", min="1", max="10", step="0.1", value=(machine.screensaverTimeoutMs / 60000))

          .row(style="justify-content:flex-end; grid-template-columns:auto")
            button.btn(type="submit") Speichern
